<app-toolbar></app-toolbar>

<div class="container">
  <img src="assets/img/calendar-300x300.png" id="image">
  <mat-card class="login-card">
  <!--<form (submit)="login($event)">  
    <mat-form-field class="password-field">
      <textarea matInput placeholder="password" type="password"></textarea>
    </mat-form-field>
  </form>-->
    <mat-card-title>Welcome to BYU's only class scheduling wizard</mat-card-title>
    <mat-card-subtitle>Let the wizard make your next semster's schedule!</mat-card-subtitle>
    <button mat-raised-button (click)="login()" color="accent" class="get-started-button">Get started</button>
  </mat-card>
</div>