<!--<table>
  <tr>
    <td *ngFor="let day of week">
      <table>
        <tr *ngFor="let hour of hours">
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
</table>-->

<div class="wrapper">

  <ng-container *ngFor="let day of schedule; index as d">
    <div *ngFor="let class of day" class="schedule-day day-{{d}}" [style.top]="(100 - scheduleTop) * (class.start / scheduleHeight) + scheduleTop + '%'"
      [style.height]="(100 - scheduleTop) * (class.end - class.start) / scheduleHeight - scheduleBottom + '%'"
      [style.backgroundColor]="class.color"></div>
  </ng-container>

  <table cellspacing="0" cellpadding="0" class="week">
    <tr>
      <th *ngFor="let day of weekAbbrev">
        {{day}}
      </th>
    </tr>
    <tr>
      <td *ngFor="let day of week" class="day">
        <table cellspacing="0" cellpadding="0">
          <tr *ngFor="let hour of hours">
            <td class="hour"></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</div>